@font-face {
    font-family: 'entypo-icon-font';
    src: url("/common/font/entypo/entypo-icon-font.eot?82338031#iefix") format('embedded-opentype'), url("/common/font/entypo/entypo-icon-font.woff?82338031") format('woff'), url("/common/font/entypo/entypo-icon-font.ttf?82338031") format('truetype'), url("/common/font/entypo/entypo-icon-font.svg?82338031#entypo-icon-font") format('svg');
    font-weight: normal;
    font-style: normal
}

/*@font-face {*/
    /*font-family: "entypo-icon-font";*/
    /*font-style: normal;*/
    /*font-weight: normal;*/
    /*src: url("http://www.entypo.com/css/entypo.eot?#iefix") format("embedded-opentype"), url("http://www.entypo.com/css/entypo.woff") format("woff"), url("http://www.entypo.com/css/entypo.ttf") format("truetype"), url("http://www.entypo.com/css/entypo.svg#entypo") format("svg");*/
/*}*/

.entypo-icon { font-family: 'entypo-icon-font';}

button.icon-font {border: none; background: none;
    cursor: pointer;}

button {padding: 5px; color: #fff;}

.quick-seach-form {margin-top: 25px;}
.quick-seach-form button[type=submit] {margin: 0 0 0 120px}

.quick-seach-form .main_text_left_offer, .quick-seach-form .main_text_right_offer {padding: 0; line-height: 30px;}
.quick-seach-form select {width: 202px;}

#oferty_box4, #oferty_box5
{
    display:none;
}

.search-phrase em {margin-right: 5px;
    font-size: 12px;}

.job-offers-navigation {margin: 20px 0 0 0; text-align: center;}

.job-offer-description ul {
    padding: 10px;
    margin: 0px 10px 0 16px;   }

#right_menu_box2 {height: 250px !important;}
div.clear {clear: both; height: 0;}
div.separator { border-top: 1px solid; margin: 10px 0 0 0;}

.job-offer-description, .job-offer-description p, .job-offer-description ul li, .job-offer-description div {color: #0097CB;}

.nav-arrow {color: white; margin: 0 5px 0 2px;
    padding: 0 2px 2px 3px;}

form .main_text_left_offer { width: 170px;}
form .main_text_right_offer {width: 310px;}

.quick-seach-form .main_text_left_offer {width: 120px;}
.quick-seach-form .main_text_right_offer{width: 500px;}

form .tip {font-size: 10px;}
form input.pdpa {margin-right: 5px;}
form textarea.iRejestracja {width: 370px; height: 120px; font-size: 11px;}
form .submitAplikuj {margin-top: 10px;}
form .personal-data-processing-consent {position: relative;}
form div.wrap {clear: both;}
form  div.pdpa-consent-popup-fulltext {
    color: #ffffff;
    position: absolute;
    left:20px;
    top: 30px;
    font-size: 11px;
    padding: 12px 10px 12px 22px;
    width: 315px;
}
form input.iRejestracja {font-weight: bold;}

form  div.pdpa-consent-popup-fulltext .arrow {
    font-size: 34px;
    left: -9px;
    position: absolute;
    top: -30px;
}

form .errormessage {font-weight: bold; color: red;}
form .errormessage .entypo-icon {position: relative; top: -1px; font-weight: normal;}


.joboffer-visited-icon, .joboffer-applied-icon {float: right;}
.joboffer-visited-icon {color: gray;}
 .mark-as-viewed .joboffer-visited-icon {display: block;}
.mark-as-applied .joboffer-applied-icon {display: block;}

.display-false {display: none;}

h2.main-content-title {margin-bottom: 20px;}