*
{
    margin:0;
    padding:0;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing:2px;
}

a
{
    text-decoration:none;
}

a:hover
{
    /*color:#000;*/
}

img
{
    border:none;
}


/*--- GLOWNA ------------------------------- */

#header
{
    width:1100px;
    padding:0px 50px 0px 50px;
    float:left;
    position:relative;
    left:50%;
    margin-left:-600px;
    height:240px;
    background:#fff;
    margin-bottom: -50px;
    z-index:2
}

#logo
{
    float:left;
    display:block;
    width:178px;
    height:59px;
    margin-top:25px;
}


#slider_container
{
    float:left;
    width:100%;
    position:relative;
    z-index:1;
}

#slider_buttons
{
    width:120px;
    height:20px;
    position:absolute;
    left:50%;
    margin-left:-60px;
    top:14%;
    z-index:2;
}

.slider_button
{
    float:left;
    width:20px;
    height:20px;
    border-radius:20px;
    margin:0 10px;
    background:#fff;
    cursor:pointer;
}

#slider_button_blue
{
    background:#0097cb;
}

.slider_img
{
    float:left;
    width:100%;
   
}

#slider_arrow_right
{
    position:absolute;
    right:5%;
    top:50%;
    z-index:2;
    margin-top:-43px;
    cursor:pointer;
}

#slider_arrow_left
{
    position:absolute;
    left:5%;
    top:50%;
    z-index:2;
    margin-top:-43px;
    cursor:pointer;
}

#slider2
{
    display:none;
}

#slider3
{
    display:none;
}

#nav_bar
{
    float:left;
    width:100%;
    height:80px;
    margin-top:25px;
    
}

.nav_button
{
    display:block;
    color:#fff;
    font-size:18px;
    font-weight:400;
    float:left;
    padding:29px 25px;
    /*width:275px;*/
    text-align:center;
}

.nav_button:hover
{
    background:#fff;
}

.nav_button_active
{
    display:block;
    background:#fff;
    font-size:18px;
    font-weight:400;
    float:left;
    padding:29px 25px;
    /*width:275px;*/
    text-align:center;
    
}

#main
{
    width:1100px;
    padding:50px 50px 50px 50px;
    float:left;
    position:relative;
    left:50%;
    margin-left:-600px;
    
    background:#fff;
    margin-top: -50px;
    z-index:2
}

#main_left
{
    float:left;
    width:630px;
    padding-right:70px;
    
}



.main_arrow
{
    
    float:left;
    margin: 35px 30px 35px 0px;
}

.main_title
{
    float:left;
    font-size:66px;
    line-height:54px;
    font-weight:300;
    
}

.big_title
{
    float:left;
    font-size:40px;
    width: 100%;
    font-weight:300;
    margin-bottom:10px;
}

.main_button
{
    display:block;
    float:left;
    width:100%;
    margin-bottom:70px;
}

#main_right
{
    float:left;
    width:350px;
    font-size:18px;
    padding-top:0px;
}

.main_zadzwon
{
    font-size:30px;
    font-weight:300;
}

.main_tel
{
    font-size:30px;
    font-weight:500;
}

.main_text
{
    font-size:14px;
    margin-bottom:10px;
    line-height:25px;
    
}

.main_text_small
{
    font-size:13px;
    margin-bottom:10px;
    line-height:25px;
}

.main_text_left
{
    font-size:14px;
    margin-bottom:10px;
    line-height:30px;
    float:left;
    width:240px;
    
}

.main_text_right
{
    font-size:14px;
    margin-bottom:10px;
    line-height:30px;
    float:left;
    width:200px;
}

.main_list
{
    font-size:14px;
    margin-bottom:10px;
    padding:0 15px;
    list-style:circle;
    line-height:25px;
}

.main_olist
{
    font-size:14px;
    margin-bottom:10px;
    padding:0 15px;
  
    line-height:25px;
}

.main_last_thing
{
    border-bottom:1px solid;
    padding-bottom:10px;
}

.main_subtitle
{
    font-weight:bold;
}

#tel_box
{
    float:left;
    width:100%;
    margin-bottom:30px;
}



/* ---------- FOOTER ------------------------------------- */

#footer
{
    width:100%;
    border-top:solid 1px;
    float:left;
    
}

#footer_up
{
    float:left;
    width:1000px;
    padding:40px 50px 40px 50px;
    position:relative;
    left:50%;
    margin-left:-600px;
    
    
}

.footer_nav_button 
{
    font-size:13px;
    font-weight:300;
    margin-right:10px;
    letter-spacing:0px;
}

.footer_nav_button:hover
{
    color:#000 !important;
}

#footer_down
{
    float:left;
    width:100%;
    
}

#footer_down_text
{
    color:#fff;
    float:left;
    display:block;
    font-weight: 300;
    font-size:13px;
    width:1000px;
    padding:30px 50px 30px 50px;
    text-align:right;
    position:relative;
    left:50%;
    margin-left:-600px;
    
}

.fb_icon
{
    position:relative;
    top:6px;
    margin-left:40px;
    
}

.gp_icon
{
    position:relative;
    top:7px;
    margin-left:5px;
}

.tw_icon
{
    position:relative;
    top:6px;
    margin-left:5px;
}

.yt_icon
{
    position:relative;
    top:6px;
    margin-left:5px;
}

.gl_icon
{
    position:relative;
    top:6px;
    margin-left:5px;
}

.ld_icon
{
    position:relative;
    top:6px;
    margin-left:5px;
}


/*------------ ZMIENIANE KOLORY ------------------------  */

.bg_color
{
    background:#0097cb;
}

.text_color
{
    color:#0097cb;
}

/* ----PODSTRONY --------------------------------------- */

#top
{
    width:100%;
    height:145px;
    float:left;
}

#top_container
{
    width:1100px;
    padding:73px 50px 0px 50px;
    float:left;
    position:relative;
    left:50%;
    margin-left:-600px;
}

#top_title
{
    font-size:35px;
    font-weight:300;
    color:#fff;
}

#main_subsite
{
    width:1100px;
    padding:0px 50px 50px 50px;
    float:left;
    position:relative;
    left:50%;
    margin-left:-600px;
    
    background:#fff;
    margin-top: 0px;
    z-index:2
}

#bread_crumbs
{
    width:100%;
    padding:20px 0px;
    border-top:solid 1px;
    border-bottom:solid 1px;
    margin: 40px 0px;
    float:left;
    font-size:15px;
}

#bread_crumbs a:hover
{
    color:#000 !important;
}

#right_menu_box
{
    float:left;
    width:100%;
    border-bottom:solid 1px;
    padding-bottom:20px;
    margin-bottom:20px
}

#right_menu_box2
{
    float:left;
    width:100%;
    height:160px;
    position:relative;
    
    padding-bottom:20px;
    margin-bottom:0px;
    /*margin-top:30px;*/
}

#right_menu_box3
{
    float:left;
    width:100%;
    min-height:320px;
    position:relative;

    padding-bottom:20px;
    margin-bottom:0px;
    /*margin-top:30px;*/
}


.right_menu_box2_tekst
{
    font-size:13px;
    padding-bottom:10px;
    margin-bottom:10px;
    /*border-bottom:solid 1px;*/
    
}

a .right_menu_box2_tekst:hover
{
    color:#000 !important;
    
}

#oferty_box2, #oferty_box3
{
    display:none;
}

.oferty_box_left
{
    font-size: 14px;
    margin-left:115px;
    cursor:pointer;
}

.oferty_box_licznik
{
    font-size: 14px;
    margin-left:10px;
    cursor:pointer;
}

.oferty_box_right
{
    font-size: 14px;
    margin-left:10px;
    cursor:pointer;
}

#right_menu_title2
{
    width:300px;
    padding:25px 25px;
    text-align:right;
    margin-bottom:0px
}

.right_menu_arrow2
{
    float:left;

    margin-top:3px;
}

.right_menu_title2
{
    
    color:#fff;
    font-size:20px;
    font-weight:300;
  
}

#right_menu_title
{
    width:300px;
    padding:25px 25px;
    text-align:right;
    margin-bottom:20px
}

.right_menu_arrow
{
    float:left;
}

.right_menu_title
{
    
    color:#fff;
    font-size:20px;
    font-weight:300;
  
}



.right_menu_button
{
    font-size:13px;
    line-height:24px;
    font-weight:600;
}

.right_menu_button:hover
{
    color:#000 !important; 
}

.imageMini
{
    position:relative;
    left:50%;
    margin-left:-60px;
    margin-top:20px;
}

.iRejestracja
{
    width:200px;
    height:20px;
    border:solid 1px;
}

.submitAplikuj
{
    color:#fff;
    padding:5px;
    cursor:pointer;
}

.submitAplikuj:hover
{
    background:#000 !important;
}

.galeria_box
{
    float:left;
    font-size:40px;
    
    font-weight:300;
    margin-bottom:10px;
    height:70px;
    width:100%;
    line-height:70px;
    text-align:center;
    color:#fff;
}

.galeria_img
{
    float:left;
    width:100%;
}

.main_text_galeria
{
    font-size:14px;
    margin-bottom:10px;
    line-height:25px;
    float:left;
    
}

.galeria_zdjecie
{
    float:left;
    width:100px;
    height:100px;
    cursor:pointer;
    margin-right:20px;
    margin-bottom:20px;
}

.aktualnosc
{
    padding:20px 0;
    border-bottom:solid 1px;
}

.aktualnosc2
{
    padding:20px 0;
    
}

.aktualnosc a, .aktualnosc2 a
{
    color:#000;
}

.aktualnosc a.aktualnosci_a
{
    color:#0097cb;
}

.aktualnosc a.aktualnosci_a:hover
{
    text-decoration:none;    
}

.aktualnosc a:hover, .aktualnosc2 a:hover
{
    text-decoration:underline;
}

.aktualnosci_tytul
{
    font-weight:600;
    font-size:24px;
    
}

.aktualnosci_data
{
    
    font-size:12px;
    
}

/* ---------------------OFERTA ------------------------ */

.main_text_left_offer
{
    font-size:13px;
    
    line-height:20px;
    padding:5px 0px;
    float:left;
    width:120px;
    font-weight:600;
    clear:left;
    
}

.main_text_right_offer
{
    font-size:13px;
    padding:5px 0px;
    line-height:20px;
    float:left;
    width:500px;
}

.main_text_left_offer_last
{
    font-size:13px;
    margin-bottom:10px;
    line-height:20px;
    padding:5px 0px;
    float:left;
    width:120px;
    border-bottom:1px solid;
    font-weight:600;
    clear:left;
}

.text_offer_box
{
    border-bottom:1px solid;
    float:left;
    padding:20px 0px;
}

a .text_offer_box:hover .text_color
{
    color: #000 !important;
}

a.aktualnosci_a:hover 
{
    color: #000 !important;
}


.offer_form_box
{
   
    float:left;
    clear:left;
}

.main_text_right_offer_last
{
    font-size:13px;
    margin-bottom:10px;
    
    line-height:20px;
    padding:5px 0px;
    float:left;
    width:500px;
    border-bottom:1px solid;
}

.main_text_left_offer_first
{
    font-size:13px;
    margin-top:10px;
    line-height:20px;
    padding:5px 0px;
    float:left;
    width:120px;
    border-top:1px solid;
    font-weight:600;
    clear:left;
}

.main_text_right_offer_first
{
    font-size:13px;
    margin-top:10px;
    line-height:20px;
    padding:5px 0px;
    float:left;
    width:500px;
    border-top:1px solid;
}

.box_nav:hover
{
    background:#fff !important;
}

.box_nav
{
    color:#fff;
}




/* laptopy */

@media (max-width:1400px)
{
    #header
    {
        width:900px;
        margin-left:-500px;
        
    }
    
    .nav_button
    {
        padding:29px 12px;
        /*width:225px;*/
    }
    
    .nav_button_active
    {
        padding:29px 12px;
        /*width:225px;*/
    }
    
    #main
    {
        width:900px;
        margin-left:-500px;
        
    }
    
    #main_subsite
    {
        width:900px;
        margin-left:-500px;
        
    }
    
    #footer_up
    {
        width:900px;
        margin-left:-500px;
        
    }
    
    #top_container
    {
        width:900px;
        margin-left:-500px;
        
    }
    
    #footer_down_text
    {
        width:900px;
        margin-left:-500px;
        
    }
    
    #main_left
    {
        width:480px;
    
        
    }
    
    .main_text_right_offer
    {
        width:360px;
    }
    
    .main_text_right_offer_last
    {
        width:360px;
    }
    
    .main_text_right_offer_first
    {
        width:360px;
    }
    
    .fb_icon
    {
        
        margin-left:5px;
        
    }
    
    .gp_icon
    {
       
        margin-left:0px;
    }

    .tw_icon
    {
       
        margin-left:0px;
    }
    
    .yt_icon
    {
        
        margin-left:0px;
    }
    
    .gl_icon
    {
       
        margin-left:0px;
    }
    
    .ld_icon
    {
       
        margin-left:0px;
    }
    
    .footer_nav_button 
    {
        
        margin-right:5px;
        letter-spacing:0px;
    }
}

/* Media queries *
================================================== */

/* Large desktop */
@media (min-width: 1200px) {
  .desktop{
    display: block;
  }
  .mobile{
    display: none;
  }
  #nav_toggle{
    display: none;
  }
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  *{letter-spacing: 1px;}
  .mobile{display: none;}
  #header,
  #main,
  #footer_up,
  #footer_down_text,
  #top_container,
  #main_subsite{
    width: 705px;
    margin-left: -390px;
  }
  #header{
    height: 189px;
    margin-bottom: -36px;
    padding: 0px 36px;
  }
  #main{
    margin-top: -36px;
    padding: 36px;
  }
  #main_subsite{
    padding: 0 36px 36px 36px;
  }
  #logo{
    width: 137px;
    height: auto;
    margin-top: 20px;
  }
  #nav_bar{
    height: 68px;
    margin-top: 20px;
  }
  .nav_button,
  .nav_button_active{
    font-size: 15px;
    padding: 25px 10px;
  }
  #nav_toggle{
    display: none;
  }
  .slider_button{
    height: 16px;
    width: 16px;
  }
  #slider_arrow_left,
  #slider_arrow_right{
    width: 32px;
    margin-top: -36px;
  }

  #main_left{
    padding-right: 50px;
    width: 380px;
  }
  .main_button{
    margin-bottom: 50px;
  }
  .main_arrow{
    margin: 30px 21px 30px 0px;
    width: 14px;
  }
  .main_title{
    font-size: 54px;
    line-height: 48px;
  }
  #main_right{
    width: 275px;
  }
  #right_menu_title,
  #right_menu_title2{
    width: 233px;
    padding: 21px;
    margin-bottom: 15px;
  }
  .right_menu_title,
  .right_menu_title2{
    font-size: 18px;
  }
  #right_menu_box{
    margin-bottom: 16px;
    padding-bottom: 16px;
  }
  #right_menu_box2{
    height: 240px;
  }
  .right_menu_box2_tekst {
    font-size: 12px;
  }
  #footer_up{
    padding: 27px 36px;
  }
  .footer_nav_button{
    font-size: 12px;
  }
  #footer_down_text{
    padding: 21px 36px;
    font-size: 12px;
  }
  #top{
    height: 115px;
  }
  #top_container{
    padding: 55px 36px 0 36px;
  }
  #top_title{
    font-size: 33px;
  }
  #bread_crumbs{
    font-size: 14px;
    padding: 16px 0px;
    margin: 32px 0px;
  }
  .text_offer_box{
    padding: 15px 0;
  }
  .main_text_left_offer,
  .main_text_right_offer{
    line-height: 16px;
    padding: 4px 0;
  }
  .main_text_left_offer{}
  .main_text_right_offer{
    width: 260px;
  }
  .main_text_left_offer,
  .main_text_left_offer_first{
    width: 32%;
  }
  .main_text_right_offer,
  .main_text_right_offer_first{
    width: 68%;
  }
  .aktualnosc{
    padding: 23px 0 7px 0;
    font-size: 14px;
    line-height: 20px;
  }
  .aktualnosci_tytul{
    font-size: 23px;
  }
  .big_title{
    font-size: 37px;
  }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  /*body{overflow-x: hidden;}*/
  *{letter-spacing: 1px;}
  .mobile{
    display: block;
  }
  .desktop{
    display: none;
  }
  #header,
  #main,
  #footer_up,
  #footer_down_text,
  #top_container,
  #main_subsite{
    width: 398px;
    margin-left: -235px;
    clear: left;
  }
  #header{
    height: 192px;
    margin-bottom: -36px;
    padding: 0px 36px;
    z-index: 9;
  }
  #nav_bar{
    height: auto;
    margin-top: 20px;
  }
  #nav_dropdown{
    height: auto;
    display: none;
  }
  #nav_dropdown .nav_button{
    border-top: 1px solid white;
  }
  .nav_button,
  .nav_button_active{
    font-size: 15px;
    padding: 25px 0;
    text-align: center;
    width: 100%;
  }
  #nav_toggle{
    display: block;
  }
  #main{
    margin-top: -36px;
    padding: 36px;
  }
  #main_subsite{
    padding: 0 36px 36px 36px;
  }
  #logo{
    width: 137px;
    height: auto;
    margin-top: 16px;
    margin-bottom: 8px;
    padding-left: 50%;
    margin-left: -70px;
  }
  #mobile_banner{
    background-image: url(../img/banner_tablet.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    display: block;
    float: left;
    height: 360px;
    width: 100%;
  }
  #main_left,
  #main_right{
    padding-right: 50px;
    width: 380px;
  }
  .main_button{
    margin-bottom: 50px;
  }
  .main_arrow{
    margin: 30px 21px 30px 0px;
    width: 14px;
  }
  .main_title{
    font-size: 54px;
    line-height: 48px;
  }
  #right_menu_title,
  #right_menu_title2{
    width: 317px;
    padding: 21px 42px 21px 21px;
    margin-bottom: 15px;
  }
  #right_menu_box{
    margin-bottom: 16px;
    padding-bottom: 16px;
  }
  #right_menu_box_aktualnosci,
  #tel_box{
    display: none;
  }
  #right_menu_box2{
    height: 200px;
  }
  .right_menu_title,
  .right_menu_title2{
    font-size: 18px;
  }
  #footer_up{
    padding: 27px 36px;
  }
  .footer_nav_button{
    font-size: 12px;
  }
  .mobile_button{
    padding: 20px 0;
    float: left;
    letter-spacing: 2px;
    width: 33%;
    text-align: center;
  }
  #footer_down_text{
    padding: 21px 36px;
    font-size: 12px;
  }
  #top{
    height: 115px;
  }
  #top_container{
    padding: 55px 36px 0 36px;
  }
  #top_title{
    font-size: 33px;
  }
  #bread_crumbs{
    font-size: 14px;
    padding: 16px 0px;
    margin: 32px 0px;
  }
  .text_offer_box{
    width: 100%;
  }  
  .main_text_left_offer,
  .main_text_right_offer,
  .main_text_left_offer_first,
  .main_text_right_offer_first{
    line-height: 16px;
    padding: 4px 0;
  }
  .main_text_left_offer,
  .main_text_left_offer_first{
    width: 32%;
  }
  .main_text_right_offer,
  .main_text_right_offer_first{
    width: 68%;
  }
  .aktualnosc{
    padding: 23px 0 7px 0;
    font-size: 14px;
    line-height: 20px;
  }
  .aktualnosci_tytul{
    font-size: 23px;
  }
  .big_title{
    font-size: 34px;
  }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
  *{letter-spacing: 1px;}
  .mobile{
    display: block;
  }
  .desktop{
    display: none;
  }
  #header, 
  #main, 
  #footer_down_text,
  #top_container,
  #main_subsite{
    margin-left: -50%;
    padding: 0 3%;
    width: 94%;
  }
  #header{
    height: auto;
    margin-bottom: 0;
  }
  #logo{
    width: 137px;
    height: auto;
    margin-top: 16px;
    margin-bottom: 8px;
    padding-left: 50%;
    margin-left: -70px;
  }
  #mobile_banner{
    background-image: url(../img/banner_mobile.jpg);
    height: 130px;
    margin-top: 6px;
  }
  #nav_bar{
    margin-top: 1px;
    height: 100%;
  }
  #nav_dropdown{
    height: auto;
    display: none;
  }
  #nav_toggle{}
  .nav_button,
  .nav_button_active{
    font-size: 14px;
    letter-spacing: 1px;
    width: 100%;
    padding: 20px 0;
  }
  #main{
    margin-top: 25px;
  }
  #main_left{
    width: 100%;
    padding-right: 0;
  }
  .main_title{
    font-size: 36px;
    line-height: 32px;
  }
  .main_arrow{
    margin: 15px;
  }
  .main_button{
    margin-bottom: 30px;
  }
  .mobile_button{
    padding: 20px 0;
    float: left;
    letter-spacing: 2px;
    width: 33%;
    text-align: center;
  }
  #footer_down_text{
    font-size: 12px;
    text-align: left;
    letter-spacing: 0;
    padding: 3%;
  }
  #top {
    height: 80px;
    margin-top: 6px;
  }
  #top_title {
    font-size: 31px;
  }
  #right_menu_box2{
    display: none;
  }
  #right_menu_title, 
  #right_menu_title2 {
    width: 86%;
    padding: 5% 8% 5% 6%;
  }
  #main_left, 
  #main_right {
    padding-right: 0;
    width: 100%;
  }
  .right_menu_button{
    margin-left: 5%;
  }
  #top_container{
    padding: 5% 3%;
  }
  #bread_crumbs {
    font-size: 13px;
    padding: 12px 0px;
    margin: 24px 0px;
  }
  .main_text_left_offer,
  .main_text_right_offer,
  .main_text_left_offer_first,
  .main_text_right_offer_first{
    line-height: 16px;
    font-size: 12px;
    padding: 4px 0;
  }
  .main_text_left_offer,
  .main_text_left_offer_first{
    width: 32%;
  }
  .main_text_right_offer,
  .main_text_right_offer_first{
    width: 68%;
  }


}

